@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-rgb: 237 236 238;
  --background-rgb: 21 20 27;
  --black-rgb: 17 15 24;
  --purple-rgb: 162 119 255;
  --green-rgb: 97 255 202;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white-rgb: 237 236 238;
    --background-rgb: 21 20 27;
    --black-rgb: 17 15 24;
    --purple-rgb: 162 119 255;
    --green-rgb: 97 255 202;
  }
}

body {
  color: rgb(var(--white-rgb));
  background: rgb(var(--background-rgb));
}
